@charset "UTF-8";
div#form_btn{
    margin:0px 0px;
    text-align:center;
}
.error_alert{
    font-weight:bold;
    color:#FF0000;
}
/*.attention{
    font-weight:bold;
}*/

.form_text_common{
    width:280px;
}

.form_textarea_little{
    width:300px;
    height:150px;
}

.form_textarea_little_height{
    width:370px;
    height:100px;
}

.form_textarea_common{
    width:370px;
    height:150px;
}

.form_textarea_large{
    width:470px;
    height:300px;
}

.form_textarea_comment{
    width:460px;
    height:200px;
}

textarea.regulation{
    width: 755px;
    margin-top: 5px;
    margin-right: 0pt;
    margin-bottom: 0px;
    margin-left: 0pt;
    font-size: 1em;
}
p.form_attention{
    border:1px solid #FFCC66;
    color:red;
    font-size:14px;
    padding:5px;
    line-height:20px;
}

table .help {
    font-size:12px;
    color:#333333;
    background-color:#FFF7FB;
    width:180px;
    line-height:20px;
    }


table#attention td{
    padding:5px 5px 0px 5px;
    }
table#attention td.last{
    padding-bottom:5px;
    }

div#payment{
    margin:0 auto;
    width:640px;
    position: relative;
    font-size:120%;
}

div#payment2{
    position: absolute;
    left:10px;
    top:20px;
    width:620px;
}

div#payment2 table.attention{
    width:410px;
    margin:10px auto 0px auto;
}

div#payment2 table.maintenance{
    width:600px;
    margin:10px auto 0px auto;
    padding
}


div#payment2 table.text_confirm{
    width:595px;
    margin:0px 0px 0px 10px;
}

div#payment2 table.text_confirm td{
    padding:2px 5px 2px 5px;
}

div#payment2 table.btn{
    width:620px;
    margin:10px auto 0px auto;
}

div#payment_confirm{
    position: absolute;
    left:0px;/*705-615/2*/
    top:160px;
    width:620px;
}

div#payment_confirm2{
    position: relative;
}

div#payment_confirm3{
    position: absolute;
    left:0px;
    top:46px;
}

div#initialize{
    margin:0 auto;
    width:705px;
    position: relative;
    font-size:120%;
}

div#initialize2{
    position: absolute;
    left:20px;
    top:20px;
    width:685px;
}

div#initialize2 table.attetion{
    width:410px;
    margin:10px auto 0px auto;
}

div#initialize2 table.btn{
    width:615px;
    margin:0px auto 0px auto;
}

div#initialize .attention{
    font-weight:bold;
}

table.initialize {
    width:662px;
    margin:10px 0px 20px 0px;
    text-align:left;
    background-color:#FFFFFF;
    }
    
table.initialize th {
    text-align:left;
    background-color:#FFF4D1;
    border:1px solid #FFCC66;
    padding:5px;
    font-weight:normal;
    }

table.initialize th.title {
    width:150px;
}

table.initialize td {
    border:1px solid #FFCC66;
    padding:5px;
    }

table.initialize td.title {
    width:150px;
}

table.initialize td.form {
    width:510px;
    }


table.contact {
    width:725px;
    margin:10px 0px 20px 0px;
    text-align:left;
    background-color:#FFFFFF;
    }

table.contact th {
    text-align:left;
    background-color:#FFF4D1;
    border:1px solid #FFCC66;
    padding:5px;
    font-weight:normal;
    }

table.contact th.title {
    width:150px;
}

table.contact th.item {
    width:100px;
}

table.contact th.text {
    width:255px;
}

table.contact td {
    border:1px solid #FFCC66;
    padding:5px;
    }

table.contact td.title {
    width:150px;
}

table.paymethod{
    width:725px;
}
table.paymethod td {
    padding:5px;
}