.detail_box{
    width:655px;
    margin:0px 5px 10px 20px;
    float:left;
    position: relative;
}

.detail_box_2{
    width:655px;
    margin:10px 0px 0px 0px;
}

.detail_box .shop_title{
    font-weight:bold;
    display:block;
    font-size:150%;
    background:url(/img/shop/detail_box_head.gif) repeat-y left top;
    width:655px;
    height:80px;
    display: table-cell;
    vertical-align: middle;
    padding-left:70px;
}

.detail_box .shop_title span{
    color:#D31C00;
}

.detail_box .detail_box_inner{
    background:url(/img/shop/detail_box_bg.jpg) repeat-y left top;
    display:inline-block;
    width:655px;
    padding-top:5px;
}



div#weibo {
    width:300px;
    float:left;
    margin:0 auto;
    margin-bottom:0px;
}

.shop-view { *margin: 0 0 20px 0 }
 
    .shop-view a { color: #111 }
 
    .shop-view .item {
        position: relative;
        background: url(/img/index/deal-list-item-bg.gif) bottom repeat-x;
        float: left;
        width: 160px;
        border: solid 1px #e2db9f;
        margin: 0 0px 20px 5px;
        border-radius: 2px }
        
        .shop-view .item .info {
            margin:0;
            padding: 5px 0px 2px 0px;
        }
 
            .shop-view .item .info span {
                float: right;
                font-size: 11px;
                min-width: 60px;
                text-align: center;
                background: url(/img/deal-list-info-bg.gif) left repeat-x;
                border: solid 1px #e9e9e9;
                padding: 0 3px;
                margin: -1px 0 0 0;
                border-radius: 3px }
 
        .shop-view .img {
            float:right;
            padding: 0px;
        }
 
        .shop-view .item .text {
            border-top:solid 1px #fff;
            padding: 0px 4px 2px 0px;
            clear:both;
        }
 
            .shop-view .item .text b { display: block }
 
            .shop-view .item .text .text-r { height:50pt;overflow: hidden }

     .shop-view .item .price {
        position: absolute;
        font-weight: bold;
        font-style: italic;
        font-size: 14px;
        z-index: 99;
        top: 30px;
        left: -20px;
        background: url(/img/index/price-tag-l.png) right no-repeat;
        height: 95px;
        width: 170px;
        padding: 0px 25px 0 0;
        margin: 0;
        color: #fff;
        text-align: center;
        line-height:70px;
        }
 
        .shop-view .item .price.off { background: url(/img/index/price-tag-off-l.png) right no-repeat }

        .shop-view .item .price strong {
            font-size: 26px;
            letter-spacing: -1px;
            padding-right: 2px
         }

.shopping_bt a{
    background:url(/img/button/buy_bt.jpg) no-repeat 0 0;
    display:block;
    height:42px;
    width:150px;
    text-indent:-99999px;
    overflow:hidden;
    position: absolute;
    top: 130px;
    left: 5px;
}
.shopping_bt a:hover{
    background-position:0 -42px;
}

.shopping_wide_bt{
    width:655px;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}

.shopping_wide_bt a{
    margin:auto auto;
    background:url(/img/button/buy_bt.jpg) no-repeat 0 0;
    display:block;
    height:42px;
    width:150px;
    text-indent:-99999px;
    overflow:hidden;
}
.shopping_wide_bt a:hover{
background-position:0 -42px;
}

table.price-info {
    width:150px;
    position: absolute;
    top: 170px;
    left: 5px;
    border-collapse: collapse;
    margin: 5px 0 0 0
}
 
    table.price-info tr { border-bottom: dashed 1px #ccc }
 
    table.price-info th {
        text-align: left;
        font-weight: normal;
        padding: 5px 0 }
 
    table.price-info td {
        text-align: right;
        font-weight: bold;
        color: #e10005 }
 
        table.price-info td.special {
            text-align: center;
            font-size: 18px;
            padding: 0 0 10px 0 }

.c_condition {
    width:150px;
    position: absolute;
    top: 260px;
    left: 5px;
    border-collapse: collapse;
    margin: 5px 0 0 0
}

    .c_condition h3 {
        text-align: center;
        font-size: 12px;
        font-weight: normal;
    }
    
    .c_condition .box {
        text-align: center;
        /*font-weight: bold;*/
        padding-bottom: 5px;
        border-bottom: dashed 1px #ccc;
    }

#shop_right{
    float:left;
    margin-left:3px;
    /*border: solid 1px #e9e9e9;*/
}

h3.title{
    background:url(/img/shop/icon.jpg) no-repeat 0 0;
    font-size:150%;
    font-weight:bold;
    padding-left:20px;
    padding-bottom:10px;
    padding-top:3px;
    margin:5px 10px 15px 10px;
    border-bottom:dotted 1px #999;
    color:#FF4000;
}

.title-border {
    border-bottom: dashed 1px #ccc;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 14px;
}

.detail_box .detail_box_inner .shop_info{
width:635px;
margin-left:11px;
}

.detail_box .detail_box_inner .shop_info .shop_info_inner{
background:url(/img/shop/shop_info_bg.gif) repeat-y left top;
display:inline-block;
width:635px;
overflow:hidden;
}

.detail_box .detail_box_inner .shop_info .shop_info_inner dl dt{
float:left;
width:50px;
padding:3px 10px;
text-align:right;
}

.detail_box .detail_box_inner .shop_info .shop_info_inner dl dd{
float:left;
padding:3px 10px;
}

#canvas{
    width:635px;
    height:350px;
    margin:0 0 5px 0;
}

/* PHOTO GALLERY
----------------------------------------------------------------------------------------- */
#articleGalleryArea{
    position: relative;
    /*top: -35px;*/
    top: 0px;
    /*left: -10px;*/
    left: 0px;
    margin: 0 0 10px 0;
}

#articleGalleryArea #GalleryLargePh {
    position: relative;
    height: 320px;
}
#articleGalleryArea #GalleryLargePh li {
    position: absolute;
    top: 0;
    left: 0px;
    display: none;

}
#articleGalleryArea #GalleryThumbsPh {
    position:relative;
    zoom: 1;
}
#articleGalleryArea #GalleryThumbsPh div {
    position:relative;
    overflow: hidden;
    width: 465px;
    height: 70px;
    margin-left: 15px;
}
#articleGalleryArea #GalleryThumbsPh .items {
    width: 20000em;
    position: absolute;
}
#articleGalleryArea #GalleryThumbsPh li {
    float: left;
    border: 1px solid #cccccc;
    margin-right: 2px;
}
#articleGalleryArea #GalleryThumbsPh li.active {
    border: 1px solid #666;
}
#articleGalleryArea #GalleryThumbsPh p {
    position: absolute;
    top: 0;
    cursor: pointer;
}
#articleGalleryArea #GalleryThumbsPh p.disabled {
    cursor: default;
}
#articleGalleryArea #GalleryThumbsPh .prevPage {
    left: 0px;
}
#articleGalleryArea #GalleryThumbsPh .nextPage {
    right: 0px;
}

