@charset "UTF-8";
/* SLIDE SHOW */
#slideshow {
width: 650px;
height:243px;
position:relative;
}

#slideshow ul {
margin: 0;
padding: 0;
list-style-type: none;
}

#slideshow ul:after {
content: ".";
clear: both;
display: block;
height: 0;
visibility: hidden;
}            
/* SLIDE SHOW SLIDES */
#slideshow .slides {
overflow: hidden;
width: 650px;}

#slideshow .slides ul {
width: 2600px
;}

#slideshow .slides li {
width: 650px;
float: left;
}
/* SLIDE SHOW SLIDES NAVIGATION */
#slideshow ul.slides-nav {
display: inline-block;
position:absolute;
right:10px;
bottom:10px;
z-index:9999999;
}

#slideshow .slides-nav li {
float: left;
width:30px;
height:23px;
margin-right:5px;
}

#slideshow .slides-nav li a {
display: block;
outline: none;
width:30px;
height:18px;
background:url(/img/button/side_bt_bg.gif) no-repeat left top;
color:#000;
font-weight:bold;
text-align:center;
padding-top:5px;
text-decoration:none;
}

.js #slideshow .slides-nav li.on,
.js #slideshow .slides-nav li.on a {
width:30px;
height:23px;
background:url(/img/button/side_bt_bg.gif) no-repeat left top;
color:#000;
font-weight:bold;
text-align:center;
text-decoration:none;
}

.js #slideshow .slides-nav li.on a {
position: relative;
width:30px;
height:18px;
padding-top:5px;
background:url(/img/button/side_bt_bg.gif) no-repeat 0 -23px;
color:#fff;
font-weight:bold;
text-align:center;
text-decoration:none;
}

/* SLIDER */
.jcarousel-skin-tango .jcarousel-container {
width:650px;
height:57px;
background:url(/img/part/top_bana_bg.gif) no-repeat left top;
margin-top:5px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
width: 646px;
padding:4px 0 0 4px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
width:650px;
height:57px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
width:590px;
height:57px;
margin:0 0 0 26px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
width:650px;
height:57px;
}

.jcarousel-skin-tango .jcarousel-item {
width: 74px;
height: 50px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
width: 72px;
height: 40px;
margin: 5px 2px 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
margin-left: 10px;
margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
background: #fff;
color: #000;
}
/* SLIDER HORIZONTAL BUTTONS */
.jcarousel-skin-tango .jcarousel-next-horizontal {
position: absolute;
top: 3px;
right: 4px;
cursor: pointer;
float: left;
width: 24px;
height: 53px;
text-decoration: none;
background:url(/img/part/top_arrow_r.gif) left top no-repeat;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
cursor: default;
background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
position: absolute;
top: 3px;
left: 4px;
cursor: pointer;
float: left;
width: 24px;
height: 53px;
text-decoration: none;
background:  url(/img/part/top_top_arrow_l.gif) left top no-repeat;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
left: auto;
right: 5px;
background-image: url(/img/part/top_top_arrow_l.gif);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
cursor: default;
background-position: 0 0;
}

/* SLIDER VERTICAL BUTTONS */
.jcarousel-skin-tango .jcarousel-next-vertical {
position: absolute;
top: 3px;
right: 4px;
cursor: pointer;
float: left;
width: 24px;
height: 53px;
text-decoration: none;
background:  url(/img/part/top_arrow_r.gif) left top no-repeat;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover {
background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
cursor: default;
background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
cursor: default;
background-position: 0 0;
}